* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url("images/bg/bg\ \(1\).jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}
.header {
    padding-top: 64px;
    padding-bottom: 843px;
}
.nav-wrapper {
    margin-bottom: 198px;
}
.container-wide {
    width: 1790px;
    margin-right: 0px;
    margin-left: 70px;
    padding-right: 280px;
    
}
.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
}
.nav {
    font-weight: 700;
    font-size: 18px;
}
.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav li + li {
    margin-left: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in;
  
}
.nav a:hover {
   color: #fbd784;
}
.account {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in;
}
.account:hover {
    color: #fbd784;
}
.hero {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: transform 0.5s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}
.hero:hover {
    transform: translateY(-5%);
}
.hero-category {
    position: relative;
    margin-bottom: 32px;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#fbd784;

}
.hero-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #fbd784;
 
}
.hero-title {
    margin-bottom: 32px;
   font-family: "Playfair Display", serif;
   font-style: normal;
   font-weight: 500;
   font-size: 88px;
   line-height: 1.136;
   text-transform: capitalize;
   color: #ffffff;
}
.hero-scroll {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #ffffff;
    padding-right: 32px;

}
.hero-scroll::after {
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
    background-image: url(images/icoms/arrow_downward_24px.svg);
}
.container {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    margin-top: -200px;
}
.article {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.article:nth-child(even){
    flex-direction: row-reverse;
}

.article-text { 
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}
.article-text::before{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
}
    


.article-subtitle{
    position: relative;
    margin-bottom: 32px;
    padding-left: 96px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#fbd784;
}
.article-subtitle::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #fbd784;
}
.article-title{
    margin-bottom: 27px;
    max-width: 555px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    color: #ffffff; 

}
.article-text p {
   margin-bottom: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: #ffffff;

}
.article-read-more {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #fbd784;
    padding-right: 40px;

}
.article-read-more::after {
    display: block;
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(images/icoms/arrow_downwards_24px.svg);
}
.article-img{

}
